
.navbar {
  transform: translateY(-10px);
  display: flex;
  width:100%;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;

  z-index: 1000;
  background-color: rgb(255, 255, 255);
  gap: .5rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
h1{
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
  font-weight: 500;
 
}
.navbar__logo  {
  
  margin-left: 1rem;
  animation: fadeIn 2s ease-in-out;
}

.navbar__center {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;

  border-radius: 999px;
  flex: 1;
  max-width: 40%;
}

.navbar__center input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
}

.search{
  width: 5%;
  float:right;
  margin-right: 2em;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 2rem;
  max-width: 30%;
}

.navbar__right p {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
 
}

.navbar__right .MuiSvgIcon-root {
  cursor: pointer;
}

.navbar__profile {
  display: flex;
  align-items: center;
  padding: 5px 5px;
  border: 1px solid rgb(237, 171, 4);
  border-radius: 999px;
  gap: 10px;
}

.dropDownProfile{
  
  position: absolute;
  top:5rem;
  right:4rem;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  border: 1px  gray;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);

}
.dropDownProfile::before{
  content: "";
  position: absolute;
  top:-0.7rem;
  right:1.1rem;
  width:20px;
  height: 20px;
  transform:rotate(45deg);
  background-color: rgb(231, 231, 231);
  border-left: 1px  gray;
  border-top: 1px  gray;
 
}

.dropDownMenu{
  position: absolute;
  top:5rem;
  right:1.5rem;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  border: 1px  gray;
  box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.189);

}
.dropDownMenu::before{
  content: "";
  position: absolute;
  top:-0.7rem;
  right:1rem;
  width:20px;
  height: 20px;
  transform:rotate(45deg);
  background-color: rgb(231, 231, 231);
  border-left: 1px  gray;
  border-top: 1px  gray;
  
}

